*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  background-color: rgb(210, 144, 52);
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courgette', Arial, Helvetica, sans-serif;
}
