.header {
    
    &__top {
        height: 4rem;
        background-color: $gray-dark;
        display: flex;
        justify-content: center;
        align-items: center;

        &--logo {

            &-text {
                color: $color-primary;
                transform: translateY(-10%);
                
            }
    
        }

    }

    &__bottom {
        height: 4rem;
        padding: 8px 4px;

    }
    
}